<?php

//Secret values.
//The secondary value is for a "seamless migration" by setting
//In B4: the values here are what I used for testing.
//They're not really secret. =)
//I generated these by running md5sum on an arbitrary file as a seed.
//Obviously you need to change these before "going live"
$secretmain = "012bfb6136fac0e75cdb0d7ae6bb6967";
$secretsecondary = "64db4e0295d360f39f46523e274c55e6";


//Debug is one of:
//"off"=no logging
//"error"=only failed checkpoints
//"auth"=only log the validation request
//"head"= same as "auth" and "error" but log the header of each request
//"body"=same as "head" and "error" and log every request as it comes in. This obviously doubles the IO.
//"all"=same as "body" and "error" but also log the checkpoints as the input is parsed.  This triples the IO

//Please don't leave this running 24/7 in production
//Note that for "auth" and above the authentication secrets is written to the debug logfile.
$debug = "off";
$debuglog = "debug.log";

//Debugresponse is if we want the application to print debug information back to us.
//Only helpful if we are actually seeing the response, and it increases network use.
//Turn this on only if you know what you are doing.  =)
//To turn on, set to "true"
$debugresponse = "false";

//"mode" is one of the following:
//"syslog"=call syslog.  You will need to set up syslog using syslog.conf or similar.
//"direct"=write directly to a file.  The file needs to be writable by the web UserID.
$mode = "syslog";


//-------Begin "syslog" mode-------

//Priority is one of the following:
//LOG_EMERG 	system is unusable
//LOG_ALERT 	action must be taken immediately
//LOG_CRIT 	critical conditions
//LOG_ERR 	error conditions
//LOG_WARNING 	warning conditions
//LOG_NOTICE 	normal, but significant, condition
//LOG_INFO 	informational message
//LOG_DEBUG 	debug-level message
//Default is "LOG_NOTICE".
$syslogpriority = "LOG_ALERT";

//Syslog facility, typically one of:
//LOG_AUTH 	security/authorization messages (use LOG_AUTHPRIV instead in systems where that constant is defined)
//LOG_AUTHPRIV 	security/authorization messages (private)
//LOG_CRON 	clock daemon (cron and at)
//LOG_DAEMON 	other system daemons
//LOG_KERN 	kernel messages
//LOG_LOCAL0 ... LOG_LOCAL7 	reserved for local use, these are not available in Windows
//LOG_LPR 	line printer subsystem
//LOG_MAIL 	mail subsystem
//LOG_NEWS 	USENET news subsystem
//LOG_SYSLOG 	messages generated internally by syslogd
//LOG_USER 	generic user-level messages
//LOG_UUCP 	UUCP subsystem
//Default is "LOG_DAEMON"
$syslogfacility = "LOG_DAEMON";

//Syslog Identity
//Can be any arbitrary string, use this to differentiate RTR2Syslog logs
//We use this as the program name
//Default is "rtr2syslog"
$syslogident = "rtr2syslog";

//-------End "syslog" mode-------



//-------Begin "direct" mode-------

//This does not have any maintenance/rotation scripts yet.
$logfile = "rtr2syslog.log";

//-------End "direct" mode-------


?>
